<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="vm.openForm()">Open Form</button>
    <div id="app">
        <h1>{{'Nilai a: '+a}}</h1>
        <h1>{{'Rata-rata b: '+b}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          b: 0,
          sum: 0,
          cnt: 0
        },       
        methods: {
            openForm(){
                input_a = prompt('Masukkan nilai a:')
                this.sum += parseInt(input_a);
                this.cnt += 1
                if(this.sum >= 10){                    
                    this.a = this.sum
                    this.b = this.sum / this.cnt
                }  
            }
        },
      });
    </script>
  </body>
</html>
